# .github/workflows/build-test.yml
name: Build and Test Java 17 with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'

    - name: Build with Maven
      run: mvn -B compile --file pom.xml

    - name: Test with Maven and K8s Kind
      uses: helm/kind-action@v1.5.0
      run: mvn -B test --file pom.xml